@charset "utf-8";
body {
    background: rgb(27, 27, 245);
    color: rgb(255, 255, 255);
}
header{
    text-align: center;
}
section {
     background: rgb(252, 247, 247);
     color:black;
     width: 50%;
     padding: 70px; /* para almetar dendo da area*/
     margin:auto;
     border-radius: 10px; /* deixa as bordas aredotadas*/
     box-shadow: 5px 5px 10px rgba(14, 13, 13, 0.603);/* para deixa soubra */
     

}
footer {
    text-align: center;
    display: flow-root;
    font-size: initial;
}

div#txt h2{
   text-align: center;
   
}
div#foto img {
    
    margin-left: 1%;
   

}
div#foto{
    text-align: center;
   
}
re {
   background: brown;
}